
.background{
    -fx-background-image: url("../images/background01.png");
    -fx-background-position: center;
}

#authentication_container{
    -fx-background-color: rgba(255,255,255, 0.7);
    }

.menu_button{
     -fx-border-radius: 50px;
     -fx-background-color: rgba(220, 220, 220,0);
}

.menu_button:hover{
     -fx-background-color: rgba(255, 255, 255,0.8);
}

.menu_test{
     -fx-background-color: rgba(255, 255, 255,0.8);
}

